*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.container-fluid{
    padding: 0;
}
.vh-100{
    padding: 0;
}
.w-100{
    padding: 0;
}
.d-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-cursive{
    font-family: cursive;
}
.bg-my-blue{
    background: #32bef1;
}
.d-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vh-90{
    height: 90vh;
}
.vh-10{
    height: 10vh;
}
.bg-blur{
    background-color: #67c5e747;
    backdrop-filter: blur(10px);
}
.bg-dark-blue{
    background: #062025;
}
.row{
    padding: 0;
}
.ti-2{
 text-indent: 20px;
}
.jcc{
    display: flex;
    justify-content: center;
    text-align: left;
}
.jcsb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.jcse{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
.grocery-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.g-1{
    gap: 10px;
}